#root {
  height: 100%;
  width: 100%;
  color-scheme: light;
}

.verde-claro {
  color: #93b29a;
}

.bg-verde-claro {
  background-color: #93b29a;
}

.pessego {
  color: #ffd8b8;
}

.bg-pessego {
  background-color: #ffd8b8;
}

.verde-musgo {
  color: #8aae92;
}

.bg-verde-musgo {
  background-color: #8aae92;
}

.rosa-poeira {
  color: #e8b5b5;
}

.bg-rosa-poeira {
  background-color: #cea1a1;
}

.rosa-claro {
  color: #ffe6e6;
}

.bg-rosa-claro {
  background-color: #ffe6e6;
}

.vinho-suave {
  color: #c48a8a;
}

.bg-vinho-suave {
  background-color: #c48a8a;
}

.areia {
  color: #f5e6d0;
}

.bg-areia {
  background-color: #f5e6d0;
}

/* Textos */
.texto-escuro {
  color: #5a5a5a;
}

.texto-cinza {
  color: #4a4a4a;
}

.fonte-elegante {
  font-family: "Cormorant Garamond", serif;
}

.fonte-titulos {
  font-family: "Great Vibes", cursive;
}

.fonte-cardapio {
  font-family: "Montserrat", serif;
  font-size: 0.87rem;
  color: rgb(255, 255, 255);
}

.shadow-text {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.shadow-text2 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.511);
}

.shadow-bar {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.shadow-bar-white {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.inner-shadow-dark {
  box-shadow: inset 0 14px 8px 0 rgba(0, 0, 0, 0.3),
    inset 0 16px 20px 0 rgba(0, 0, 0, 0.25);
}

.inner-shadow-dark-sm {
  box-shadow: 2px 4px 0 rgba(0, 0, 0, 0.2);
}
